@model IEnumerable<BITCollege_JY.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr id="multiword_headings">
        @*student number*@
        <th>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </th>
        @*name*@
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        @*address*@
        <th>
            @Html.DisplayNameFor(model => model.FullAddress)
        </th>
        @*program*@
        <th>
            @Html.DisplayNameFor(model => model.AcademicProgram.ProgramAcornym)
        </th>
        @*state*@
        <th>
            @Html.DisplayNameFor(model => model.GradePointState.Description)
        </th>
        @*grade point average*@
        <th>
            @Html.DisplayNameFor(model => model.GradePointAverage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcademicProgram.ProgramAcornym)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GradePointState.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GradePointAverage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentId })
        </td>
    </tr>
}

</table>
